%menu-id-data {
  margin-top: -80px;
  padding-top: 80px;
}

%box-shadow-data {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

%text-align-data {
  text-align: center;
}

%text-decoration-data {
  text-decoration: none;
}