$color-black: rgb(0, 0, 0);
$color-white: whitesmoke;
$color-gray: gray;
$color-icons-hover: rgb(93, 86, 86);
$color-about-text: brown;
$color-booking-page: rgb(93, 130, 204);

$font-default: "Roboto", sans-serif;

$home-background-image: url(../../img/home-image.jpg);
$menu-background-image: url(../../img/menu-image.jpg);
$about-and-location-background-image: url(../../img/location-image-background.jpg);
$booking-background-image: url(../../img/booking-page.jpg);