$color-black: rgb(0, 0, 0);
$color-white: whitesmoke; 
$color-icons-hover: rgb(93, 86, 86);
$color-about-text: brown; 
$color-booking-page: rgb(151, 86, 86);


$font-default: "Roboto", sans-serif;
$font-brand: "Pacifico", cursive;


$home-background-image: url(../../img/home-image.jpeg);
$menu-background-image: url(../../img/menu-image.jpeg);
$about-and-location-background-image: url(../../img/location-image-background.jpg);
$booking-background-image: url(../../img/booking-page.jpg);


