#carnes,
#pastas,
#pizzas,
#postres {
  margin-top: -80px;
  padding-top: 80px; }

.booking-form, .location-container {
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

header {
  position: sticky;
  top: 0;
  z-index: 1; }
  header nav {
    border-bottom: 1px solid black;
    width: 100%; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      width: 100%;
      text-align: center; }
      header nav ul li {
        display: inline-block;
        margin-left: 2rem;
        padding: 1rem; }
        header nav ul li a {
          text-decoration: none; }

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;
  padding: 0; }

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 1rem; }

li .dropdown-item {
  margin: 0;
  padding: 0; }

.home-page {
  background-image: url(../../img/home-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center; }

.home-title {
  margin-top: 1rem;
  font-family: "Pacifico", cursive;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 4rem; }

.home-page-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.home-page-logo img {
  width: 100%; }

.footer-home {
  border-top: 1px solid black;
  background-color: whitesmoke;
  display: flex;
  text-align: center;
  justify-content: center; }

.footer-container {
  margin-top: 1rem; }

.footer-directions {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.social-icons {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 1rem;
  gap: 1rem; }
  .social-icons a {
    text-decoration: none; }

.icon {
  color: black; }

.icon :hover {
  color: #5d5656; }

.menu-image {
  background-image: url(../../img/menu-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center; }

.menu-container {
  background-color: black;
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.menu-title {
  color: whitesmoke;
  text-align: center;
  margin-top: 1rem; }

.menu-item-title {
  color: whitesmoke;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 1rem; }

.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: space-evenly; }

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center; }

.item {
  width: 30%;
  height: 300px;
  border-radius: 8px;
  border: 1px solid whitesmoke;
  margin: 5px;
  display: flex;
  flex-direction: column; }

.item-image {
  width: 100%;
  height: 80%;
  position: relative; }
  .item-image img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-bottom: 1px solid whitesmoke; }

.item-name {
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.about-image {
  background-image: url(../../img/location-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 1200px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: column; }

.about-schedule {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.about-schedule-container {
  background-color: whitesmoke;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-schedule-title {
  margin-top: 1rem;
  padding: 0 5rem;
  border-bottom: 1px solid black;
  background-color: whitesmoke; }
  .about-schedule-title h2 {
    text-align: center;
    margin-bottom: 0.5rem; }
  .about-schedule-title p {
    color: brown;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 0.5rem; }

.about-icons {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  display: flex;
  gap: 3rem; }

.about-hours {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about-hours h3 {
    color: brown; }
  .about-hours ul {
    margin-top: 1rem;
    list-style: none; }
    .about-hours ul li {
      margin-top: 0.5rem; }
      .about-hours ul li span {
        color: brown;
        font-weight: bold; }

.about-phone {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .about-phone h3 {
    color: brown;
    margin-bottom: 1rem; }
  .about-phone p {
    margin-bottom: 0.5rem; }

.about-history {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start; }

.about-history-container {
  background-color: whitesmoke;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column; }

.about-history-title {
  margin-top: 1rem;
  padding: 0 5rem;
  background-color: whitesmoke; }
  .about-history-title h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }

.about-history-information {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  .about-history-information p {
    color: black;
    padding: 1rem;
    width: 80%;
    height: 100%; }

.booking-page {
  background-image: url(../../img/booking-page.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.booking-container {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.booking-title {
  width: 100%;
  display: flex;
  justify-content: flex-end; }
  .booking-title a {
    color: whitesmoke;
    border-radius: 8px;
    text-decoration: none;
    background-color: #5d82cc;
    padding: 0.5% 1%; }

.booking-title :hover {
  background-color: whitesmoke;
  color: #5d82cc; }

.booking-form-container {
  border-radius: 8px;
  margin-top: 1rem;
  background-color: #5d82cc;
  width: 100%;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.booking-form-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 25px;
  color: whitesmoke; }

.booking-form {
  border-radius: 8px;
  margin-top: 3rem;
  padding: 3rem; }

.booking-form-input {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around; }
  .booking-form-input label {
    width: 60%;
    color: whitesmoke; }
  .booking-form-input input {
    width: 40%; }
  .booking-form-input #opciones {
    width: 40%; }

.booking-form-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 10%; }

.booking-form-button {
  padding: 1% 3%;
  border: none;
  font-weight: bold;
  border-radius: 8px; }

.location-page {
  background-image: url(../../img/location-image-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center; }

.location-container {
  border-radius: 8px;
  background-color: whitesmoke;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.location-restaurant-info {
  margin-top: 1rem;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.location-restaurant-info-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%; }
  .location-restaurant-info-img img {
    width: 70%; }

.location-restaurant-ubi {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

.location-restaurant-ubi-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%; }

.location-restaurant-ubi-p {
  margin-top: 0.5rem;
  padding: 0 1rem;
  text-align: center; }

.location-restaurant-info-p {
  margin-top: 0.5rem;
  text-align: center;
  padding: 0 1rem; }

.location-restaurant-ubi-icon {
  display: none; }

@media screen and (max-width: 480px) {
  /* home page mobile */
  .home-page {
    background-attachment: initial; }
  .container-fluid.nav-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 100%; }
  .navbar-toggler,
  .navbar-toggler.collapsed {
    margin: 0.5rem;
    width: 20%;
    justify-self: end; }
  .navbar-brand {
    display: none; }
  .menu-items.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .home-title {
    bottom: 1rem; }
  /* menu page mobile */
  .menu-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .item {
    width: 80%;
    justify-self: center;
    margin: 1rem 0; }
  .menu-logo img {
    width: 100%; }
  .menu-container {
    width: 80%; }
  /* about page mobile */
  .about-image {
    height: fit-content; }
  .about-schedule {
    justify-content: center;
    align-items: center;
    margin-top: 5rem; }
  .about-schedule-container {
    width: 80%;
    height: 600px;
    border: none;
    border-radius: 8px; }
  .about-history {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .about-schedule-title p {
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }
  .about-schedule-title {
    border-bottom: 0;
    width: 100%; }
  .about-history-container {
    width: 80%;
    height: 600px;
    border-radius: 8px;
    border: none; }
  .about-history-information {
    overflow: auto;
    padding: 1rem; }
  /* booking page mobile */
  .booking-page {
    width: 100%;
    height: 900px;
    background-attachment: initial; }
  .booking-container {
    width: 80%;
    height: fit-content;
    flex-direction: column-reverse; }
  .booking-form-container {
    border-radius: 8px; }
  .booking-form-title {
    padding: 1rem; }
  .booking-title {
    margin-top: 1rem;
    justify-content: center; }
    .booking-title a {
      width: 100%;
      text-align: center;
      padding: 0.5rem;
      box-shadow: none;
      border-radius: 8px; }
  .booking-form {
    margin: 0;
    padding: 1rem;
    box-shadow: none; }
  .booking-form-buttons {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .booking-form-input {
    margin-top: 2rem; }
  /* booking page mobile */
  .location-page {
    width: 100%;
    height: 900px; }
  .location-container {
    border-radius: 8px;
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .location-restaurant-info {
    width: 100%; }
  .location-restaurant-ubi {
    width: 100%; }
  .location-restaurant-ubi-icon {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .location-restaurant-ubi-icon small {
      text-align: center;
      margin-bottom: 1rem; }
    .location-restaurant-ubi-icon a {
      justify-self: center;
      font-size: 1.5rem; } }

@media screen and (min-width: 481px) and (max-width: 991px) {
  /* home page tablet */
  .home-page {
    background-attachment: initial; }
  .container-fluid.nav-container {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 100%; }
  .navbar-toggler,
  .navbar-toggler.collapsed {
    margin: 0.5rem;
    width: 10%;
    justify-self: end; }
  .navbar-brand {
    display: none; }
  .menu-items.show {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center; }
  .home-title {
    bottom: 1rem; }
  /* menu page tablet */
  .menu-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
  .item {
    width: 80%;
    justify-self: center;
    margin: 1rem 0; }
  .menu-logo img {
    width: 100%; }
  .menu-container {
    width: 80%; }
  /* about page tablet */
  .about-image {
    height: fit-content; }
  .about-schedule {
    justify-content: center;
    align-items: center;
    margin-top: 5rem; }
  .about-schedule-container {
    width: 80%;
    height: 600px;
    border: none;
    border-radius: 8px; }
  .about-history {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .about-schedule-title p {
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }
  .about-schedule-title {
    border-bottom: 0;
    width: 100%; }
  .about-history-container {
    width: 80%;
    height: 600px;
    border-radius: 8px;
    border: none; }
  .about-history-information {
    overflow: auto;
    padding: 1rem; }
  /* booking page tablet */
  .booking-page {
    width: 100%;
    height: 900px;
    background-attachment: initial; }
  .booking-container {
    width: 80%;
    height: fit-content;
    flex-direction: column-reverse; }
  .booking-form-container {
    border-radius: 8px; }
  .booking-form-title {
    padding: 1rem; }
  .booking-title {
    margin-top: 1rem;
    justify-content: center; }
    .booking-title a {
      width: 100%;
      text-align: center;
      padding: 0.5rem;
      box-shadow: none;
      border-radius: 8px; }
  .booking-form {
    margin: 0;
    padding: 1rem;
    box-shadow: none; }
  .booking-form-buttons {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .booking-form-input {
    margin-top: 2rem; }
  /* booking page tablet */
  .location-page {
    width: 100%;
    height: 1100px; }
  .location-container {
    border-radius: 8px;
    width: 80%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); }
  .location-restaurant-info {
    width: 100%;
    height: fit-content; }
  .location-restaurant-ubi {
    width: 100%; }
  .location-restaurant-ubi-icon {
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .location-restaurant-ubi-icon small {
      text-align: center;
      margin-bottom: 1rem; }
    .location-restaurant-ubi-icon a {
      justify-self: center;
      font-size: 1.5rem; } }

@media screen and (min-width: 992px) and (max-width: 1550px) {
  /* home page tablet */
  .home-page {
    background-attachment: initial; }
  .home-title {
    bottom: 1rem; }
  /* menu page tablet */
  .menu-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
  .item {
    width: 80%;
    justify-self: center;
    margin: 1rem 0; }
  .menu-logo img {
    width: 100%; }
  .menu-container {
    width: 80%; }
  /* about page tablet */
  .about-image {
    height: fit-content; }
  .about-schedule {
    justify-content: center;
    align-items: center;
    margin-top: 5rem; }
  .about-schedule-container {
    width: 80%;
    height: 700px;
    border: none;
    border-radius: 8px; }
  .about-history {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .about-schedule-title p {
    width: 100%;
    margin-bottom: 0.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black; }
  .about-schedule-title {
    border-bottom: 0;
    width: 100%; }
  .about-history-container {
    width: 80%;
    height: 700px;
    border-radius: 8px;
    border: none; }
  .about-history-information {
    padding: 1rem; }
  /* booking page tablet */
  .booking-page {
    width: 100%;
    height: 1100px;
    background-attachment: initial; }
  .booking-container {
    width: 80%;
    height: fit-content;
    flex-direction: column-reverse; }
  .booking-form-container {
    border-radius: 8px; }
  .booking-form-title {
    padding: 1rem; }
  .booking-title {
    margin-top: 1rem;
    justify-content: center; }
    .booking-title a {
      width: 100%;
      text-align: center;
      padding: 0.5rem;
      box-shadow: none;
      border-radius: 8px; }
  .booking-form {
    margin: 0;
    padding: 1rem;
    box-shadow: none; }
  .booking-form-buttons {
    margin-top: 5rem;
    margin-bottom: 5rem; }
  .booking-form-input {
    margin-top: 2rem;
    border: 1px solid whitesmoke;
    padding: 1rem;
    border-radius: 8px; } }
